/* Base theme (Light mode) */
.bn-container[data-theming-css-variables-demo][data-color-scheme] {
    --bn-font-family: 'Arial', 'Helvetica Neue', sans-serif; /* Evernote-like font */
    --bn-font-size: 14px; /* Evernote uses a slightly larger font */
    --bn-line-height: 1.6; /* Improves readability */
    
    --bn-border-radius: 6px; /* Softer rounded corners */
    --bn-padding: 12px; /* Adds spacing for readability */
}

/* Dark mode adjustments */
.bn-container[data-theming-css-variables-demo][data-color-scheme="dark"] {
}

.bn-suggestion-menu {
    font-size: 5px !important;
}

.bn-editor {
    min-height: 100svh;
    border-radius: 0;
    padding-top: 2rem;
    padding-bottom: 10rem;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-size: 14px;
}

/* # */